/* ==========================================================================
   BLOG IMAGE BANNER   
   ========================================================================== */
#blog-image-banner{
    width: 100%;
    height: 498px;
    height:62.25vh;
    background:url('../images/blog/blog.jpg');
    background-size:cover;
    background-position:center;
}
/* ==========================================================================
   BLOG TEXT BANNER
   ========================================================================== */
#blog-text-banner {
	width: 100%;
	display:table;
	text-align:center;
}
#blog-text-banner .inner-content {
	display:table-cell;
	vertical-align:middle;
	padding:75px 0 75px 0;
	padding:9.375vh 0 9.375vh 0;
}
hr{
	margin:0;
	border:none;
}
hr.invisible{
    height: 22px;
    height: 2.75vh;
    margin: 0;
    visibility: hidden;
}
hr.blue-underline{
    width: 27px;
    height: 3.375vh;
    height:2px;
    margin:auto;
    background-color:#0397ff;
}
/* ==========================================================================
   BLOG CONTENT 
   ========================================================================== */
.content-panel {
    float: left;
    position: relative;
    min-height: 1px;
}
.column-spacer {
    float: left;
    position: relative;
    min-height: 1px;
}
#blog-content {
    width: 100%;
}
#blog-content .row {
    width: 100%;
    margin: auto;
}
#blog-content .content-panel {
    height: 100%;
    padding: 41px 61px 41px 41px;
    padding: 5.125vmin 7.625vmin 5.125vmin 5.125vmin;
    background-color: #fff;
    overflow:hidden;
}
#blog-content .content-panel.feature-image {
    padding: 0;
}
#blog-content .content-panel.twitter {
    background-color: #0397ff;
}
#blog-content .content-panel.twitter .underline {
    opacity: 0;
}
#blog-content .content-panel table {
    width: 100%;
    height: 100%;
}

#blog-content .content-panel td {
    text-align: left;
}
#blog-content .title {
	height:38px;
	height:4.75vmin;
    color: #0397ff;
    text-transform: uppercase;
    vertical-align: top;
}
#blog-content .content-panel .title img {
    width: 10%;
    vertical-align:top;
}
#blog-content .content-panel .underline {
    vertical-align:top;
}
#blog-content .text,.subtext{
	vertical-align:bottom;
}
#blog-content .subtext{
	height:43px;
	height:5.375vmin;
	vertical-align:bottom;
}
hr{
	margin:0;
	border:none;
}
#blog-content .content-panel .title hr.invisible{
    height: 21px;
    height: 2.625vmin;
    margin: 0;
    visibility: hidden;
}
#blog-content .content-panel .title hr.grey-underline{
    width: 27px;
    width: 3.375vmin;
    height:2px;
    background-color:#d9d9da;
}
/* ==========================================================================
   MORE CONTENT  
   ========================================================================== */
#more-content{
    width: 100%;
    background-color: transparent;
}
#more-content .button{
	padding:74px 0 0 0;
    text-align: center;
}