/* ==========================================================================
   CAREERS IMAGE BANNER
   ========================================================================== */
#careers-image-banner{
    width: 100%;
    height: 498px;
    height:62.25vh;
    background:url('../images/careers/careers.jpg');
    background-size:cover;
    background-position:center;
}
/* ==========================================================================
   CAREERS TEXT BANNER   
   ========================================================================== */
#careers-text-banner {
	width: 92.1875%;
    max-width: 1180px;
    margin:auto; 
    text-align: center;
}
#careers-text-banner .text{
	padding:75px 0 75px 0;
	padding:9.375vh 0 9.375vh 0;
}
hr{
	margin:0;
	border:none;
}
hr.invisible{
    height: 16px;
    height: 2vh;
    margin: 0;
    visibility: hidden;
}
hr.blue-underline{
    width: 27px;
    width: 3.375vh;
    height:2px;
    margin:auto;
    background-color:#0397ff;
}
/* ==========================================================================
   CAREERS SECTION ONE  - same styling as Homepage Section Two
   ========================================================================== */
#careers-section-one {
    width: 100%;
    background-image: url('../images/careers/studentsandgraduates.jpg');
    background-size: cover;
    background-position:center;
}
#careers-section-one .inner-content{
	padding:88px 0 88px 0;
	padding:11vh 0 11vh 0;
    text-align: center;
}
hr{
	margin:0;
	border:none;
}
hr.invisible{
    height: 15px;
    height:1.875vh;
    margin: 0;
    visibility: hidden;
}
hr.white-underline{
    width: 27px;
    width: 3.375vh;
    margin:auto;
    height:2px;
    background-color:#fff;
}

/* ==========================================================================
   CAREERS SECTION TWO  - same styling as Homepage Section Two
   ========================================================================== */
#careers-section-two {
    width: 100%;
    background-image: url('../images/careers/experienced-professionals.jpg'); 
    background-size: cover;
    background-position:center;
}
#careers-section-two .inner-content{
	padding:88px 0 88px 0;
	padding:11vh 0 11vh 0;
    text-align: center;
}
hr{
	margin:0;
	border:none;
}
hr.invisible{
    height: 15px;
    height:1.875vh;
    margin: 0;
    visibility: hidden;
}
hr.white-underline{
    width: 27px;
    width: 3.375vh;
    margin:auto;
    height:2px;
    background-color:#fff;
}
/* ==========================================================================
   CAREERS SECTION THREE
   ========================================================================== */
#people-content {
	width: 100%;
	background-color:#f6f6f6;
	padding:0 0 117px 0;
	padding: 0 0 14.625vh 0;
}
.list-row{
	margin-left:-10px;
	margin-right:-10px;
}
.people_list li{
	width:25%;
	float:left;
	padding-left:10px;
	padding-right:10px;
}
.designation_main{
	position:relative;
}
.people_list li img{
	width:100%;
}
.designation_overlay{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	background:rgba(255,255,255,0.95);
	padding:18px 10px;
	min-height:95px;
}
.people_list li .people_name{
	display:block;
}
/* ==========================================================================
   CAREERS SECTION FOUR 
   ========================================================================== */
.content-panel {
    float: left;
    position: relative;
    min-height: 1px;
}
.column-spacer {
    float: left;
    position: relative;
    min-height: 1px;
}
#careers-section-four {
    width: 100%;
}
#careers-section-four .row {
    width: 100%;
    margin: auto;
}
#careers-section-four .content-panel {
    height: 100%;
    padding: 41px 61px 41px 41px;
    padding: 5.125vmin 7.625vmin 5.125vmin 5.125vmin;
    background-color: #fff;
    overflow:hidden;
}
#careers-section-four .content-panel.feature-image {
    padding: 0;
}
#careers-section-four .content-panel.twitter {
    background-color: #0397ff;
}
#careers-section-four .content-panel.twitter .underline {
    opacity: 0;
}
#careers-section-four .content-panel table {
    width: 100%;
    height: 100%;
}
#careers-section-four .row .content-panel.feature-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#careers-section-four .content-panel td {
    text-align: left;
}
#careers-section-four .title {
	height:38px;
	height:4.75vmin;
    color: #0397ff;
    text-transform: uppercase;
    vertical-align: top;
}
#careers-section-four .content-panel .title img {
    width: 10%;
    vertical-align:top;
}
#careers-section-four .content-panel .underline {
    vertical-align:top;
}
#careers-section-four .text,.subtext{
	vertical-align:bottom;
}
#careers-section-four .subtext{
	height:43px;
	height:5.375vmin;
	vertical-align:bottom;
}
hr{
	margin:0;
	border:none;
}
#careers-section-four .content-panel .title hr.invisible{
    height: 21px;
    height: 2.625vmin;
    margin: 0;
    visibility: hidden;
}
#careers-section-four .content-panel .title hr.grey-underline{
    width: 27px;
    width: 3.375vmin;
    height:2px;
    background-color:#d9d9da;
}

/* ==========================================================================
   More Content  
   ========================================================================== */
#more-content{
    width: 100%;
    background-color: transparent;
}
#more-content .button{
	padding:74px 0 74px 0;
    text-align: center;
}
/* ==========================================================================
   View All 
   ========================================================================== */
#view-all{
    width: 100%;
    background-color: transparent;
}
#view-all .button{
	padding:74px 0 74px 0;
    text-align: center;
}