/* ==========================================================================
   Metacube Font Definitions 
   font-family; 
   font-weight;
   font-style;
   font-size; 
   line-height; 
   letter-spacing;
   color;
   text-decoration;
   text-transform;
   ========================================================================== */
/* ==========================================================================
   Body Copy Buttons
   ========================================================================== */
#more-content .b1 .btn-text,
#view-all .b1 .btn-text, .round-common-btn .button--antiman .btn-text{
	font-family:"Benton Sans";
	font-weight:bold;
	font-style:normal;
	font-size: 12px;
	line-height:inherit;
	letter-spacing:0.120em;
	color:#8b8a8a;
    text-transform:uppercase;	
	margin-right:-2px;
}
#more-content .b1,
#view-all .b1, .round-common-btn .button--antiman{
    min-width: 120px;
    min-height: 42px;
    background-color: transparent;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    color: #8b8a8a;
    overflow: visible;
    line-height: 1.4;  
}
.b2 .btn-text, .arrow-anchor{
    font-family: "Benton Sans";
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    font-size: 2vh;
    line-height:inherit;
    letter-spacing: 0.025em;
    color: #000;
    text-transform:lowercase;
}
.b3 .btn-text{
    font-family: "Benton Sans";
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    line-height: inherit;
    letter-spacing: 0.15em;
    color:#000;
    text-transform:none;
} 
@media(max-width:480px){
	.b3 .btn-text{
		font-size: 1.5vh;
		vertical-align:middle;
	}
}
/* ==========================================================================
   Body Copy Headers
   ========================================================================== */
h1{ 
    font-family: "Benton Sans";
    font-weight:bold;
    font-style:normal;
    font-size: 83.25px;
    font-size: 10.40625vmin;
    line-height: normal;
    letter-spacing: 0.1em;   
    color: #fff;
    text-transform:uppercase;
} 
h2{
    font-family: "Benton Sans";
    font-weight:bold;
    font-style:normal;
    font-size: 50px;
    font-size:6.25vmin;
    line-height: normal;
    letter-spacing: 0.1em;
    color: #fff;
    text-transform:uppercase;
}
h3{
	font-family: "Benton Sans Light";
	font-size:36px;
	font-size:4.5vh;
	line-height:56px;
	/* line-height:normal; */
	letter-spacing:0.010em;
	color:#000;
	text-transform:none;
}
body h3{
	margin-top:-6px;
}
h4{
	font-family: "Benton Sans Light";
	font-size:28px;
	font-size:3.5vh;
	line-height:52px;
	line-height:normal;
	letter-spacing:0.030em;
	color:#000;
	text-transform:none;
}
h5{
	font-family: "Benton Sans";
	font-weight:bold;
	font-style:normal;
	font-size: 26.97px;
	font-size: 3.37125vh;
	line-height:1.4;
	letter-spacing:0.090em;
	color:#000;
	text-transform:none;
}
h6{
	font-family: "Benton Sans";
    font-weight: bold;
    font-style: normal;
	font-size:14px;
	font-size:1.75vmin;
	line-height:17.09px;
	line-height:2.13625vmin;
	letter-spacing:0.100em;
	color:#000;
	text-transform:none;
}
.h48p{
	font-family: "Benton Sans Light";
	font-size:48px;
	font-size:6vh;
	line-height:68px;
	line-height:8.5vh;
	letter-spacing:0.010em;
	color:#fff;
	text-transform:none;
}
.h30p{
    font-family: "Benton Sans Light";
    font-size: 30px;
    font-size:3.75vh;
    line-height: 46px;
    line-height:1.4;
    letter-spacing: 0.010em;
    text-transform:none;
    color:#fff;
}
.h18p{
    font-family: "Benton Sans";
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    font-size: 2.5vh;
    line-height: normal;
    letter-spacing: 0.050em;
    text-transform:uppercase;
}
.h16p{
    font-family: "Benton Sans";
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    font-size: 2vh;
    line-height: normal;
    letter-spacing: 0.050em;
    text-transform:uppercase;
}
/* ==========================================================================
   Body Copy Paragraphs
   ========================================================================== */
.p1{
	font-family: "Benton Sans Book";
    font-size: 22px;
    font-size: 2.75vmin;
    line-height: 36px;
    line-height: 4.5vmin;
    letter-spacing: 0.010em;
    color:#000;	
    text-transform:none;
}
.p2, .news-inside-content strong {
    font-family: "Benton Sans Book";
    font-size: 18px;
    font-size: 2.25vmin;
    line-height: normal;
    letter-spacing: 0.040em; 
    color: #000;
    text-transform:none; 
}
.p3, .pop_list, .popTable, .popTable table {
	font-family: "Benton Sans Book";
    font-size: 16px;
    font-size: 2vh;
    line-height: 30px;
    line-height: 3.75vh;
    letter-spacing: 0.030em;
    color:#000;	
    text-transform:none;
}
.p4{
	font-family: "Benton Sans Book";
    font-size: 14px;
    font-size:1.75vh;
    line-height: 20px;
    line-height:2.5vh;
    letter-spacing: 0.030em;
    color:#000;	
    text-transform:none;
}
.p5{
	font-family: "Benton Sans Book";
    font-size: 12px;
    font-size:1.5vh;
    line-height: 20px;
    line-height:2.5vh;
    letter-spacing: 0.030em;
    color:#000;	
    text-transform:none;
}
/* ==========================================================================
   Header and Footer 
   ========================================================================== */
#metacube-header .header-text{
    font-family: "Benton Sans Book";
    font-size: 18px;
    font-size: 2.25vh;
    line-height: 100%; 
    letter-spacing: 0.025em;
    color: #000;
}
#metacube-header a {
    text-decoration: none;
    color: #000;
}
#metacube-footer #nav-one td{
    font-family: "Benton Sans Book";
    font-size: 18px;
    font-size: 2.25vh;
    line-height: 38px;
    line-height: normal;
    letter-spacing: 0.025em;
    color: #8b8a8a;
}
#metacube-footer #nav-two td{
    font-family: "Benton Sans Book";
    font-size: 14px;
    line-height: 38px;
    line-height:normal;
    letter-spacing: 0.025em;
    color: #8b8a8a;
}
#metacube-footer .p-footer{
    font-family: "Benton Sans Book";
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.050em;
    color: #8b8a8a;
    max-width:none;
}
/* ==========================================================================
   Headings
   ========================================================================== */
/* ==========================================================================
   Headings - .h30p
   ========================================================================== */
#engine-section-three .h30p{
    font-size:3.75vmin;
}
/* ==========================================================================
   Headings - h3
   ========================================================================== */
#people-inside-text-banner h3{
	text-transform:capitalize;
}
.contact-content h3{
	font-size:4.5vmin;
	text-transform:none;
	max-width:none;
}
/* ==========================================================================
   Headings - h4
   ========================================================================== */
#careers-professionals-section-two h4,
#careers-students-section-two h4,
#homepage-section-two h4{
    color:#fff;
}
/* ==========================================================================
   Headings - h5
   ========================================================================== */
#about-section-two h5,
#careers-professionals-section-three h5,
#careers-students-section-three h5,
#careers-section-one h5,
#careers-section-two h5,
.process-content h5,
#engine-section-one h5, 
.mHeadingAll h5,
.mainContP h5
{
	color:#fff;
	text-transform:uppercase;
}



.mHeadingAll hr.white-underline {
    width: 27px;
    width: 3.375vh;
    margin: auto;
    height: 2px;
    background-color: #fff;
}

@media (min-width: 1280px) {
	.mHeadingAll hr.white-underline {
		width: 27px;
		margin: auto;
		height: 2px;
		background-color: #fff;
	}
}

#landscape-content h5{
	font-size: 3.37125vmin;
	text-transform:none;
    text-transform:uppercase;
    max-width:none;
}
#homepage-section-one h5{
    text-transform:uppercase;
}
/* ==========================================================================
   Headings - h6
   ========================================================================== */
#about-section-three h6,
#blog-content h6,
#careers-professionals-section-one h6,
#careers-students-section-one h6,
#careers-section-four h6,
.news-inside-content h6,
#homepage-section-three h6{
	color:#0397ff;
	text-transform:uppercase;
	max-width:none;
} 
.news-content h6{
	color:#0397ff;
	text-transform:uppercase;
}
#news-inside-image-banner h6{
	color:#fff;
	text-transform:uppercase;
	max-width:none;
}
/* ==========================================================================
   Paragraphs
   ========================================================================== */
/* ==========================================================================
   Paragraphs - p1
   ========================================================================== */
#about-section-three .p1,
#blog-content .p1,
#careers-professionals-section-one .p1,
#careers-students-section-one .p1,
#careers-section-four .p1,
.news-inside-content .p1,
#homepage-section-three .p1{
    max-width:none;
}
#homepage-section-three .twitter .p1{
    color:#fff;	
    max-width:none;
}
/* ==========================================================================
   Paragraphs - p2
   ========================================================================== */
#process-image-banner .p2,
#landscape-image-banner .p2,
#engine-image-banner .p2{
    color: #fff;
}
/* ==========================================================================
   Paragraphs - p3
   ========================================================================== */
#about-section-two .p3,
#careers-professionals-section-two .p3,
#careers-students-section-two .p3,
#careers-professionals-section-three .p3,
#careers-students-section-three .p3,
#careers-section-one .p3,
#careers-section-two .p3,
.process-content .p3,
#news-inside-image-banner .p3,
#homepage-section-two .p3,
#engine-section-one .p3{
	letter-spacing:0.050em;
    color:#fff;	
}
.contact-content .p3.blue{
    font-size: 16px;
    font-size: 2vmin;
    line-height: 30px;
    line-height: 3.75vmin;
    /* color:#918f8f;	 */
    max-width:none;
}
.contact-content .p3.black{
    font-size: 16px;
    font-size: 2vmin;
    line-height: 30px;
    line-height: 3.75vmin;	
    max-width:none;
}
#people-inside-content .p3.blue,
#people-inside-content .p3.blue a /* ,.news-content .p3.blue */ {
    color:#0397ff;
}
.news-content .p3.blue{
	color:#918f8f;
}
#about-section-one .p3,
.contact-content .p3.black,
#engine-section-two .p3{
    max-width:none;
}
/*  #landscape-content .p3{
    font-size: 1.8vmin;
    line-height: 3.75vmin;
} */
/* ==========================================================================
   Paragraphs - p4
   ========================================================================== */
#about-section-two .p4{
    color:#fff;	
    text-transform:capitalize;
}
#about-section-three .p4,
#blog-content .p4,#careers-professionals-section-one .p4,
#careers-students-section-one .p4,
#careers-section-four .p4,
.news-inside-content .subtext .p4,
#homepage-section-three .p4{
	font-family: "Benton Sans Book";
    font-size: 14px;
    font-size:1.75vmin;
    line-height: 20px;
    line-height:2.5vmin;	
    color:#8b8a8a;	
    text-transform:capitalize;
    max-width:none;
}
#careers-section-three .p4{
    text-transform:capitalize;
    max-width:none;
}
.contact-content .p4{
    font-size: 14px;
    font-size:1.75vmin;
    line-height: 20px;
    line-height:2.5vmin;
    text-transform:none;
    max-width:none;	
} 
#people-content .p4{
	font-family: "Benton Sans";
	font-weight:bold;
	font-style:normal;
    text-transform:capitalize;
    max-width:none;
}
#homepage-section-three .twitter .p4{
    color:#fff;	
    text-transform:lowercase;
    max-width:none;
}
#engine-section-four .p4{
	font-family: "Benton Sans";
	font-weight:bold;
	font-style:normal;
    font-size: 14px;
    font-size:1.75vmin;
    line-height: 20px;
    line-height:2.5vmin;	
    text-transform:uppercase;
} 
#engine-section-five .p4{
	font-family: "Benton Sans";
	font-weight:bold;
	font-style:normal;
}
/* ==========================================================================
   Paragraphs 
   ========================================================================== */
/* ==========================================================================
   Paragraphs - p5 
   ========================================================================== */
#about-section-two .p5{
    color:#fff;	
    text-transform:uppercase;
}
#careers-section-three .p5,
#people-content .p5{
    max-width:none;
}
/* ==========================================================================
   Buttons 
   ========================================================================== */
/* Buttons - b2
   ========================================================================== */
.process-content .b2 .btn-text{
    color: #fff;
}
#landscape-content .b2 .btn-text{
    color: #8b8a8a;
}
/* Buttons - b3
   ========================================================================== */
#homepage-section-two .b3 .btn-text,
#homepage-section-four .b3 .btn-text,
#engine-section-one .b3 .btn-text,
#engine-section-three .b3 .btn-text,
#engine-section-four .b3 .btn-text,
#careers-professionals-section-two .b3 .btn-text,
#careers-students-section-two .b3 .btn-text,
#careers-professionals-section-three .b3 .btn-text,
#careers-students-section-three .b3 .btn-text,
#careers-section-one .b3 .btn-text,
#careers-section-two .b3 .btn-text{
    color:#fff;
    text-transform:uppercase;
}
#engine-section-two .b3 .btn-text, body .arrow-anchor{
	color:#8b8a8a;
	letter-spacing:0.10em;
	text-transform:uppercase;	
}
#engine-section-three .b3 .btn-text{
	font-size:1.5vmin;
	text-transform:uppercase;
}