/* ==========================================================================
   Landscape Image Banner   
   ========================================================================== */
#landscape-image-banner {
    height: 857px;
    height: 107.125vmin;
    text-align: center;
    background:#0397ff url('../images/engine/banner-bg.png') no-repeat center bottom;
    background-size:100% auto;
    position:relative;
}
#landscape-image-banner .svg-image {
 	width: 92.1875%;
    max-width: 1180px;
    margin:auto;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:60%;
}
#landscape-image-banner .svg-image img {
	height: 90%;
	width: auto;
	margin: 0;
}
#landscape-image-banner .text {
    padding-top: 77px;
    padding-top: 9.625vmin;
}
/* ==========================================================================
   Landscape Text Banner   
   ========================================================================== */
#landscape-text-banner {
	width: 92.1875%;
    max-width: 1180px;
    margin:auto; 
    text-align: center;
}
#landscape-text-banner .text {
	padding:93px 0 93px 0;
	padding: 11.625vh 0 11.625vh 0;
}

/* ==========================================================================
   Landscape Content    
   ========================================================================== */
#landscape-content {
    width: 100%;
}
#landscape-content .row {
    background-color: #f0efef;
    height: 500px;
    height: 62.5vh;
    width: 100%;
    margin: auto;
}
#landscape-content .row .image {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    float: left;
    position: relative;
    min-height: 1px;
    margin: 0;
    padding: 0;
    width: 50%;
}
#landscape-content .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#landscape-content .row .text {
    height: 100%;
    padding:73px 70px 56px 50px;
    padding:9.125vmin 6.25vmin 7vmin 6.25vmin;
    float: left;
    position: relative;
    min-height: 1px;
    margin: 0;
    width: 50%;
    text-align: left;
    overflow:hidden;
}
hr{
	margin:0;
	border:none;
}
#landscape-content hr.invisible{
    height: 16px;
    height: 2vmin;
    margin: 0;
    visibility: hidden;
}
#landscape-content hr.blue-underline{
    width: 27px;
    width: 3.375vmin;
    height:2px;
    background-color:#0397ff;
}