
#metacube-logo img, #metacube-footer  img, .crLogo img{ 
	max-width:174px;
	height:auto;
}


@media(min-width:1280px){
	/* ==========================================================================
	   Metacube Header   
	   ========================================================================== */
	#metacube-header {
		width: 100%;
		background-color: #fff;
		height: 86px;
	}
	
	/* ==========================================================================
	   Metacube Header   
	   ========================================================================== */
	.co-heading {
		font-family: "Benton Sans Light";
		font-size: 36px;
		line-height: 52px;
		letter-spacing: 0.010em;
	}
	.mid-text790 .co-heading{
		font-size:24px;
	}
}
@media (min-width: 841px) {
	.mobile, .ipad{
		display:none;
	}
	#metacube-header .show-text{
    	display:none;
	}
	#metacube-header .hide-text{
    	display:inline;
		    vertical-align: bottom;
	}
	#metacube-wrapper{
		margin-top:84px;
	}
}

@media (min-width: 840px) and (max-width: 1180px) {
	#homepage-section-one .h16p {
		padding-top: 42px;
		padding-top: 6vh;
	}
	#homepage-section-one h5 {
		padding-bottom: 20px;
		padding-bottom: 3vh;
	}
	#homepage-section-one  .p3{
		line-height:3vh;
	}
	#engine-section-two .row .content-panel table .button td, #engine-section-two .row .content-panel table .text td{
		padding-left: 3vmin;
		padding-right:3vmin;
	}
	#engine-section-two .b3{
		text-align:left;
	}
}

@media (max-width:1179px) {

	.popUp3_col .container{
		width:87%;
	}
	

}

@media (max-width: 840px) {
	.desktop, #metacube-header .hide-text{
		display:none;
	}
	#metacube-header .show-text{
    	display:inline;
	}
	h1,h2,h3,h4,h5,h6,p{
		max-width: 80%;
	}
/* 	#landscape-content .b2{
		display:none;
	} */
	#homepage-section-four h4{
    	padding:60px 0 60px 0;
    	padding: 7.5vmin 0 7.5vmin 0;   
	}
	#homepage-section-four .heading {
		padding-top: 80px;
		padding-top: 8.5vmin;
	}
	#homepage-section-four .content .button{
		padding-bottom:80px;
		padding-bottom: 8.5vmin; 
		padding-top:50px;
		padding-top: 5.5vh;
	}
	#homepage-section-four{
		padding-bottom:0;
	}
	#engine-section-two .carousel-indicators{
		bottom:20px;
	}
	#engine-section-two .b3{
		margin-bottom:20px;
	}
	#engine-section-two .row .content-panel table .image-text td div{
		width:100%;
		text-align:center;
	}

	
	#metacube-header td#join-metacube{
		position:relative;
		/* top:-2px; */
	}
	.toggleMenu{
		top:-1px;
	}
	.contact-content .text{
		padding: 50px 40px 40px;
	}
	
	
}
@media (max-width: 980px) {
	body .people_list li{
		width:50%;
	}
	body .designation_overlay{
		min-height:auto;
		height:auto;
		padding:12px 8px;
	}
	#landscape-content .row .image, #landscape-content .row .text{
		width:100%;
		text-align:center;
	}
	#landscape-content .p3{
		text-align:center;
	}
	#landscape-content .image{
		background:#fff;
		
	}
	#landscape-content .image img{
		width: auto;
		height: auto;
		max-width: 100%;
	}
	#landscape-content .row {
		height:auto !important;
	}
	#landscape-content .row .text .blue-underline{
		margin:auto;
	}
	#engine-section-three .side-arrow {
		top: -4px;
	}
	#about-image-banner, #careers-image-banner, #careers-students-image-banner, #careers-professionals-image-banner, #news-image-banner, #people-image-banner, #people-inside-image-banner, #homepage-image-banner, #blog-image-banner {
		height: 350px;
		height: 39vh;
	}
	
	
}
@media (min-width:481px) and (max-width: 840px) {
	#homepage-section-one .mobile{
		display:none;
	}
	#homepage-section-one .ipad .row table tr td {
		width: 50%;
		height: 100%;
	}
	
}
@media (min-width: 480px)  and (max-width: 980px){
	body .designation_overlay {
		min-height: auto;
		height:auto;
		padding: 30px 8px;
	}
}

@media (max-width: 767px) { 
	
	
	div#homepage-section-one .mobile{
		display:block;
	}
	div#homepage-section-one .ipad, .header_social{
		display:none;
	}
	#homepage-section-one .mobile .process_img_panel{
		height:250px;
	}
	#homepage-section-one h5 {
		padding-bottom: 30px;
		padding-bottom: 2vh;
	}
	#homepage-section-one .h16p {
		padding-top: 50px;
		padding-top: 6.25vh;
	}
	#homepage-section-one .p3{
		height:22vh;
		overflow:hidden;
	}
	.mainNav ul.firstMenu {
		margin-top:28%;
	}
	.mainNav ul.subMenu {
		margin-top: 18%;
	}
	#metacube-footer #nav-two td{
		padding: 5px 0;
	}
	.side-arrow:before, .side-arrow:after{
		width: 10px;
		height: 3px;
		
	}
	.side-arrow:before{
		top:-6px; 
	}
	#metacube-logo img{
		max-width:120px;
		height:auto;
	}
	#metacube-footer #logo img{
		max-width:240px;
		height:auto;
	}
	#landscape-image-banner h2, #process-image-banner h2, #engine-image-banner h2{
		    font-size: 5.25vmin;
	}
	#landscape-image-banner h1, #process-image-banner h1, #engine-image-banner h1{
	    font-size: 9.40625vmin;
	}
	.h48p{
		font-size: 3vh;
		line-height: 4.5vh;
	}
	#news-inside-image-banner .inner-content{
		padding: 40px 0 40px 0;
		padding: 10vmin 0 10vmin 0;
	}
	#news-inside-image-banner .h48p {
		padding: 18px 0 18px 0;
		padding: 2.875vh 0 2.875vh 0;
	}
	#people-inside-text-banner h3{
		font-size: 3.5vh;
	}
	#landscape-image-banner, #process-image-banner, #engine-image-banner {
		height: 295px;
		height: 92.125vmin;
	}
	.contact-content h3 {
		font-size:20px;
		font-size: 6vmin;
	}
	.contact-content .p3.blue, .contact-content .p3.black, .contact-content .p4{
		font-size:12px;
		font-size: 3.5vmin;
	}
	.contact-content .p3.black, .contact-content .p4{
	    line-height: 5.5vmin;
	}
	.contact-content .p3.blue{
		margin: 10px 0 14px;
		margin: 0vmin 0 4vmin;
	}
	#homepage-section-three .content-panel .title hr.grey-underline, hr.grey-underline{
		height:1px !important;
	}
	h3 {
		font-size: 22px;
		font-size: 4vh;
		line-height: 1.4;
	}
	.twitter svg{
		width:18px;
		height:18px;
	}
	.popUp3_col .container{
		width:100%;
	}
	.p3, .pop_list, .popTable{
		line-height: 3.4vh;;
	}
	.popUp3_col  .h48p {
		font-size: 4vh;
		line-height: 1.4;
	}
	#metacube-header td#join-metacube{
		top:0;
	}
	#metacube-header{
		height:66px;
	}
	.toggleArrow, .toggleMenu{
	    width: 20px;
		height: 12px;
	}
	.toggleMenu{
		vertical-align:middle;
	}
	.toggleArrow{
		vertical-align:top;
	}
	.toggleMenu{
		top:0;
	}
}


	
@media (max-width: 480px) {
	#homepage-section-one .ipad{
		display:none;
	}
	body .people_list li{
		width:100%;
	}
	body .olvc img{
		width:90%; 
	}
	.mainNav li a {
		font-size:13px;
		padding: 6px 0;
	}
	.mainNav ul.subMenu li a{
		font-size:11px;
		    padding: 5px 0;
	}
	#social-media td svg{
		width:20px;
		height:20px;
	}
	#metacube-footer #social-media table tr td {
		padding: 0 10px;
	}
	#metacube-logo img, .crLogo img{
		max-width:100px;
	}
	#metacube-footer #logo img{
		max-width:200px;
	}

	#metacube-header{
		height:56px;
	}
	.mainNav ul.subMenu {
		margin-top: 0;
	}
	.mainNav .firstMenu li, .mainNav ul.subMenu li {
		font-size: 16px;
		letter-spacing: 0.5px;
	}
	
}

@media (max-width: 359px) {	
	


	#metacube-logo img{
		max-width:90px;
		vertical-align:-1px;
	}
	#metacube-footer #logo img{
		max-width:180px;
	}
	
}

@media (max-height: 400px) {	
	#logo img, #metacube-logo img, #metacube-footer  img {
		max-width: 70px;
		height: auto;
	}
	#metacube-header{
		height:40px;
	}
	.toggleMenu {
		top: 4px; 
	}
}


