/* ==========================================================================
   NEWS IMAGE BANNER   
   ========================================================================== */
#news-image-banner{
    width: 100%;
    height: 498px;
    height:62.25vh;
    background:url('../images/news/news.jpg');
    background-size:cover;
    background-position:center;
}
/* ==========================================================================
   NEWS TEXT BANNER
   ========================================================================== */
#news-text-banner {
	width: 100%;
	display:table;
	text-align:center;
}
#news-text-banner .inner-content {
	display:table-cell;
	vertical-align:middle;
	padding:75px 0 75px 0;
	padding:9.375vh 0 9.375vh 0;
}
hr{
	margin:0;
	border:none;
}
hr.invisible{
    height: 16px;
    height: 2vh;
    margin: 0;
    visibility: hidden;
}
hr.blue-underline{
    width: 27px;
    width: 3.375vh;
    height:2px;
    margin:auto;
    background-color:#0397ff;
}
/* ==========================================================================
   NEWS CONTENT
   ========================================================================== */
.news-content{
	width: 100%;
	display:table;
	text-align:center;
}
.news-content .inner-content {
	display:table-cell;
	vertical-align:middle;
	padding:60px 0 60px 0;
	padding:7.5vh 0 7.5vh 0;
}
hr{
	width:100%;
	margin:auto;
	height:1px;
	background-color:rgba(0,0,0,0.302);
}
/* ==========================================================================
   MORE CONTENT  
   ========================================================================== */
#more-content{
    width: 100%;
    background-color: #e7e5e5;
}
#more-content .button{
	padding:74px 0 0 0;
    text-align: center;
}