@media(min-width:1280px){
/* ==========================================================================
   PROCESS IMAGE BANNER 
   ========================================================================== */
#process-image-banner {
    height: 857px;
    text-align: center;
    background:#0397ff url('../images/engine/banner-bg.png') no-repeat center bottom;
    background-size:100% auto;
    position:relative;
}
#process-image-banner .svg-image {
 	width: 92.1875%;
    max-width: 1180px;
    margin:auto;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:60%;
}
#process-image-banner .svg-image img {
	height: 90%;
	width: auto;
	margin: 0;
}
#process-image-banner .text {
    padding-top: 77px;
}
/* ==========================================================================
   PROCESS TEXT BANNER 
   ========================================================================== */
#process-text-banner {
	width: 92.1875%;
    max-width: 1180px;
    margin:auto; 
    text-align: center;
}
#process-text-banner .text {
	padding:93px 0 93px 0;
}
/* ==========================================================================
   PROCESS CONTENT 
   ========================================================================== */
.process-content {
	width:100%;
}
.process-content .inner-content{
	padding:73px 0 73px 0;
    text-align: center;
}
.process-content.agile{
    background-image: url('../images/process/agile-image.jpg');
    background-size: cover;
    background-position:center;
}
.process-content.collaboration{
    background-image: url('../images/process/collaboration-image.jpg');
    background-size: cover;
    background-position:center;
}
.process-content.global-teams{
    background-image: url('../images/process/global_team.jpg');
    background-size: cover;
    background-position:center;
}
.process-content.engineering-practices{
    background-image: url('../images/process/engineering-image.jpg');
    background-size: cover;
    background-position:center;
}
.process-content.quality{
    background-image: url('../images/process/quality-image.jpg');
    background-size: cover;
    background-position:center;
}
.process-content img{
    padding: 42px 0 0 0;
}
hr{
	margin:0;
	border:none;
}
hr.invisible{
    height: 15px;
    margin: 0;
    visibility: hidden;
}
hr.white-underline{
    width: 27px;
    margin:auto;
    height:2px;
    background-color:#fff;
}
}